<p id="notice"><%= notice %></p>



<br>

Number of Bills with more than one encounter: <%= @billsmorethanone.count %><br>
Average of costs:  <%= @avgs %>

<h3>Import Bills</h3>
<%= form_tag import_bills_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload file" %>
<% end %>

<%= link_to 'New Bill', new_bill_path %>
